---
layout: default
overtitle: Marcelo Paiva
title: Experiences with Accessibility in mind
description: I design and develop experiences with people with disabilities in mind. I love learning new things and sharing with the community.
featured_image: /images/about/workshop.png
---

<div class="page-home">
  {% if site.data.settings.hero_settings.background_image %}

  <img
    src="{{ site.data.settings.hero_settings.background_image | relative_url }}"
    class="hero__background"
    draggable="false"
    alt="decorative"
  />
  {% endif %}

  <section class="hero" aria-label="Page Title">
    <div class="wrap grid">
      <div class="title">
        <p class="subtitle">{{ page.overtitle }}</p>
        <h1>{{ page.title }}</h1>
        <br />
        <p class="intro subtitle--light" style="margin-bottom: 80px">
          {{ page.description }}
          <a href="#" class="hero__cta button--fill contact-trigger js-contact"
            >Get In Touch</a
          >
        </p>
      </div>

      {% if page.featured_image %} {% include image.html
      url="/images/about/workshop.png" description="A heartwarming illustration
      showcases a vibrant, multicultural group of children, featuring a spirited
      boy in a wheelchair, as they joyfully collaborate to find a solution in a
      truly inclusive manner." %} {% endif %}
    </div>
  </section>
<main>
  {% include section__about.html %} {% include section__projects.html %}

  <section class="recent-posts">
    <div class="wrap grid">
      <section class="recent-posts__header" aria-labelledby="section-blog">
        <h2 id="section-blog">Recent blog posts</h2>

        <a
          href="{{ '/blog' | relative_url }}"
          class="action-bottom button--text--accent --right"
          >View all Posts</a
        >
        <a
          href="{{ '/blog' | relative_url }}"
          class="action button--text--accent --right"
          >All Posts</a
        >
      </section>

      <div class="recent-posts__list grid">
        {% for post in site.posts limit: 10 %} {% include
        component__post-preview.html %} {% endfor %}
      </div>

      <a
        href="{{ '/blog' | relative_url }}"
        class="action-bottom button--text--accent --right"
        >View all Posts</a
      >
    </div>
  </section>
</div>
