<section class="about">
  {% if include.divider == true %}
  <div class="wrap"><hr /></div>
  {% endif %}
  <div class="wrap grid">
    <div class="about__image">
      {% include randomize.html %} {% include component-socials.html %}
    </div>

    <div class="about__content">
      <h2 class="title">Inclusive means All users</h2>
      <p class="subtitle subtitle--light">
        I'm a designer and developer with over 12 years of experience leading
        and contributing to Agile teams.
      </p>
      <p>
        I craft enterprise-level and SaaS solutions for All users, regardless of
        race, ethnicity, age, gender, religion, sexual orientation, gender
        identity, gender expression, disability, economic status and other
        diverse backgrounds.
      </p>
      <p>
        If you care inclusion and diversity, I'd love to learn about your
        company and see how I can help, feel free to send me a message!
      </p>

      <a href="#" class="cta button--fill contact-trigger js-contact"
        >Get in Touch</a
      >
    </div>
  </div>
</section>
