<section class="listing">
  <div class="wrap">
    <h2>{{ site.data.settings.projects_settings.projects_title }}</h2>
    <p class="project__brief">
      {{ site.data.settings.projects_settings.projects_description }}
    </p>

    {% for project in site.projects reversed %} {% if project.accent_color %}{%
    capture accent_color %}{{ project.accent_color }}{% endcapture %}{% endif %}

    <article class="project__preview">
      <h3 class="project__title">
        <a
          href="{{ project.url | relative_url }}"
          style="color: {{ accent_color }} "
          >{{ project.title }}</a
        >
      </h3>
      <p class="project__brief">{{ project.brief }}</p>

      <div
        class="project__images owl-carousel"
        style="--accent: {{ accent_color }}"
      >
        {% for image in project.gallery_images %}
        <a href="{{ project.url | relative_url }}"
          ><img
            src="{{ '/images/projects/' | relative_url}}{{ image }}"
            alt=""
            class="project__image"
        /></a>
        {% endfor %}
      </div>

      <div
        class="project__content grid"
        style="border-color: {{ accent_color }}"
      >
        <p class="project__subtitle subtitle--light">{{ project.subtitle }}</p>
        <p class="project__description --small">
          {{ project.description }}
          <a
            href="{{ project.url | relative_url }}"
            class="project__link button--text --right"
            style="color: {{ accent_color }}; --color-var: {{ accent_color }}"
            >View Case Study</a
          >
        </p>
      </div>
    </article>

    {% endfor %}
  </div>
</section>
