{% if site.data.settings.testimonials.enable == true %}
<!-- begin testimonials -->

<div class="wrap grid">
  <div class="testimonial-group">
    {% for testimonial__item in site.data.settings.testimonial__items %}
    <a href="{{testimonial__item.link}}" target="_blank" rel="noopener">
      <article class="testimonial">
        {% if testimonial__item.content %}
        <blockquote class="quote">
          {{ testimonial__item.content }}
          <div class="arrow" />
        </blockquote>
        {% endif %} {% if testimonial__item.image %}
        <img
          src="{{ '/images/testimonials/' | relative_url}}{{ testimonial__item.image }}"
          alt="photo of {{ testimonial__item.name }}"
          class="testimonial__img"
        />
        {% endif %} {% if testimonial__item.name %}
        <div class="author">
          <p>{{ testimonial__item.name }}</p>
          <p>{{ testimonial__item.role }} - {{ testimonial__item.company }}</p>
        </div>
        {% endif %}
      </article>
    </a>
    {% endfor %}
  </div>
</div>

{% endif %}
