<section class="listing" aria-label="Projects">
  <div class="wrap">
    <h2>{{ site.data.settings.projects_settings.projects_title }}</h2>
    <p class="project__brief">
      {{ site.data.settings.projects_settings.projects_description }}
    </p>

    {% for project in site.projects reversed %} {% if project.accent_color %}{%
    capture accent_color %}{{ project.accent_color }}{% endcapture %}{% endif %}

    <article class="project__preview">
      <h3 class="project__title">
        {% if project.case_study %}

        <a
          href="{{ project.url | relative_url }}"
          style="color: {{ accent_color }} "
          >{{ project.title }}</a
        >
        {% else %} {{ project.title }} {% endif %}
      </h3>
      <p class="project__brief">{{ project.brief | safeHTML }}</p>

      <div
        class="project__images owl-carousel"
        style="--accent: {{ accent_color }}"
      >
        {% for image in project.gallery_images %} {% if project.case_study %}
        <a href="{{ project.url | relative_url }}">
          <img
            src="{{ '/images/projects/' | relative_url}}{{ image }}"
            alt="{% if project.brief %}Image {{forloop.index}} of {{forloop.length}} {% endif %}"
            class="project__image"
          />
        </a>
        {% else %}
        <img
          src="{{ '/images/projects/' | relative_url}}{{ image }}"
          alt="{% if project.brief %}Image {{forloop.index}} of {{forloop.length}} {% endif %}"
          class="project__image"
        />
        {% endif %} {% endfor %}
      </div>

      <div
        class="project__content grid"
        style="border-color: {{ accent_color }}"
      >
        <p class="project__subtitle subtitle--light">{{ project.subtitle }}</p>
        <p class="project__description --small">{{ project.description }}</p>

        {% if project.case_study %}
        <p>
          <a
            href="{{ project.url | relative_url }}"
            class="project__link button--text --right"
            style="color: {{ accent_color }}; --color-var: {{ accent_color }}"
            >View Case Study</a
          >
        </p>
        {% else %}
        <br />
        <p>More details can be provided during interviews.</p>
        {% endif %}
      </div>
    </article>

    {% endfor %}
  </div>
</section>
