.include__figure {
  margin: 2rem 0;
}

.include__caption {
  font-family: $body-font;
  color: $text-dark-color;
  background-color: $background-alt-color;
  letter-spacing: normal;
  font-size: small;
  line-height: 150%;
  padding: 8px 16px;
}
